.cover-content__button-tickets {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  max-height: 48px;
  min-height: 48px;
  max-width: 137px;
  background-color: #0278fe;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-top: 32px;
}

@media screen and (max-width: 535px) {
  .cover-content__button-tickets {
    margin-top: 16px;
    font-size: 18px;
    line-height: 22px;
  }
}
