.lead {
  max-width: 984px;
  padding-top: 90px;
  margin: 0 auto 0;
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 720px;
  }
}

@media screen and (max-width: 650px) {
  .lead {
    max-width: 535px;
    padding-top: 50px;
  }
}
